## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hasaki,JP,35.73,140.83,48.49,56,100,9.28,overcast clouds
1,1,Tsumeb,NaN,-19.23,17.72,74.75,25,35,11.41,scattered clouds
2,2,Kodiak,US,57.79,-152.41,20.71,93,90,3.44,overcast clouds
3,3,Mataura,NZ,-46.19,168.86,50.49,98,100,2.15,light rain
4,4,Hilo,US,19.73,-155.09,70.25,93,90,4.61,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.12,-134.97,75.63,78,97,9.15,overcast clouds
13,13,Vaini,TO,-21.20,-175.20,78.96,83,40,8.05,scattered clouds
15,15,Annamalainagar,IN,11.40,79.73,84.70,69,19,7.34,few clouds
32,32,Busselton,AU,-33.65,115.33,84.09,40,72,21.09,broken clouds
34,34,Tambun,ID,-6.26,107.07,88.41,65,40,5.75,scattered clouds
35,35,Grand Gaube,MU,-20.01,57.66,85.37,59,2,10.00,clear sky
37,37,Butaritari,KI,3.07,172.79,82.98,80,100,17.22,light rain
38,38,Faanui,PF,-16.48,-151.75,81.41,62,69,11.86,broken clouds
41,41,Carnarvon,AU,-24.87,113.63,82.47,65,2,12.66,clear sky
45,45,Avarua,CK,-21.21,-159.78,78.85,89,100,4.61,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                174
City                   174
Country                174
Lat                    174
Lng                    174
Max Temp               174
Humidity               174
Cloudiness             174
Wind Speed             174
Current Description    174
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                174
City                   174
Country                174
Lat                    174
Lng                    174
Max Temp               174
Humidity               174
Cloudiness             174
Wind Speed             174
Current Description    174
dtype: int64

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.63,overcast clouds,-23.12,-134.97,
13,Vaini,TO,78.96,scattered clouds,-21.20,-175.20,
15,Annamalainagar,IN,84.70,few clouds,11.40,79.73,
32,Busselton,AU,84.09,broken clouds,-33.65,115.33,
34,Tambun,ID,88.41,scattered clouds,-6.26,107.07,
35,Grand Gaube,MU,85.37,clear sky,-20.01,57.66,
37,Butaritari,KI,82.98,light rain,3.07,172.79,
38,Faanui,PF,81.41,broken clouds,-16.48,-151.75,
41,Carnarvon,AU,82.47,clear sky,-24.87,113.63,
45,Avarua,CK,78.85,overcast clouds,-21.21,-159.78,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

People ThankYou
Keleti Beach Resort
Hotel Akshaya
Observatory Guest House
Metland Hotel Bekasi
Veranda Paul et Virginie Hotel & Spa
Isles Sunset Lodge
Bora-Bora Pearl Beach Resort & Spa
Hospitality Carnarvon
Paradise Inn
VS Villa
Pousada Sitio Do Carmo
Villa Enata
Le Refuge
Casa Tia Villa
Aldea del Bazar Hotel and Spa
Lidera
ALETHEIA Appartement Sinnamary
Melrose
Shelly Bay Resort
Scoop Guest House
Pausada Morabedja
Hotel not found... skipping.
Student Campus 2
Axim Beach Resort And Spa
"Plantation Bed and Breakfast
Hotel Mpampa
Eng Hiirey House
Bils' Villa
Maringe Lagoon Lodge
Khách sạn Sài Gòn Bạc Liêu
Sea Lounge! Bar, Club & Restaurant
Atlantis Hotel
Grage Hotel Bengkulu
Daru Lodge
Hospedaje la Amistad
Al Mumtaz Transport Jiwani
Hotel not found... skipping.
Casa Dora, Bubaque
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Mystic Sands Beachfront Accommodation
Hotel Fanilo
Taloa Heights
Hotel Olako
Labuhan
Sulthan Hotel International
Bustani B&B
Butterfly Beach Hotel
Osprey Beach Hotel
SEGAYA PROPERTY
Pension Oaoa
Lords Inn Somnath
Moondarra Motel
Swiss-Belhotel Ambon
Bill's Inn
Calypso Cove
Queens Guest Inn
Desert Palms Alice Springs
Bungalow 63
Oceano
Puri Brata
CeBlue Villas & Beach Resort
Seagulls Inn Namatani
Chambres d'hôte "La Trinité"
Villa Netibor
AUBERGE LA GRACE , GÉRANT : OUDAWAREME BALTHAZAR
Aipana Plaza Hotel
Hotel not found... skipping.
Hotel Kou-Bugny
INN NEW HORIZON
Hotel Fórum
Nusa Island Retreat
Hotel Syariah CN Darussalam
Centre d’Accueil et de Formation
Hotel Tesoro Los Cabos
Sur Plaza Hotel
Broadwater Mariner Resort
Hotel Sri Krishna Residency
Mini Hotel Central
Amassi Hotel Gash
Shandrani Beachcomber Resort & Spa
ರಾಮಣ್ಣ ನಾಯಕ
Cititel Penang
Pereybere Hotel & Spa
Casa Luquinha
حامد محمد نور
Paraiso Escondido
Orchid Main Camp Goubet
Pin Drop Hotel
Hotel San Carlos
The Hamsa Resort
Mess P.Milu
Tarawa Boutique Hotel
Hospitality Esperance
Hotel not found... skipping.
Hotel not found... skipping.
Guest House HESADA
Hotel Blue Diamond.
MJ GUEST HOUSE
Delano Hotel, Bahir Dar
Permata Land Hotel & Resort
Hotel Juba
Hôtel Raiatea Lodge
Hotel Vitasoa
Motel Kédyann
hantiwadaag village part one
Fengshui Residence
Auberge Belle Etoile
Pondok Pesantren Al Muhajirin Atambua
Hotel Avenida
Hotel not found... skipping.
Screensaver
Groote Eylandt Lodge
HS Hotsson Smart Acapulco
Alh,Babayo Sarkin Sulken Gombe Comfound
Ali's Montessori School
Hotel Pigalle
Desert Gardens Hotel - Ayers Rock Resort
Ramah Kost KITA
Hotel Arena Blanca
Arco Iris
Monywa Hotel
Shervinton Executive Boutique Hotel
Mercure Hotel Mildura
แฟลตตำรวจ บ้านดาบโก ดอกฝิ่น
Maitai Lapita Village Huahine
Espace VANILLA
Raybow International Hotel
Lamar Resort Abu Soma
JM Lodge
Norena Hotel Nakasongola
U Design Hotel Temerloh
Hotel not found... skipping.
Aryaduta Hotel
Hotel not found... skipping.
Maqna Hotel by Prasanthi
Hotel not found... skipping.
Mourouj Hotel Apartments
Malanje Hotel
Nuli Sapi
Frena Lodge
International Lodge Motel
Hotel not found... skipping.
RH HOTEL (4 Star)
OYO 2964 Hotel Ridho
Tanna Lodge
Lamana Hotel (Port Moresby)
Kost Pria
Poutur Pousada
Hotel Mansarovar
Sunrise Attitude Hotel
Dhidhoo beach
Hotel RIKMAN Continental
Benin Dan Kaabou Heberge
Lorengau Harbourside Hotel
Melodies Lodge
The Passage
Cossam Guest House
Hotel not found... skipping.
Village Mianda Mutole
Lindsey Hôtel
JB's Collection & Mangrove Place
Heritage Park Hotel
MIDWAY HOTEL & RESTAURANT
Cattleman's Rest Motor Inn
Siddharth Hotel
Hotel Wixel
La Case Bambou
Hotel not found... skipping.
Nathaniel's Lodge
La Caz Oceane
Hotel Toubal
Swiss-Belhotel Balikpapan
sekretariat IKA STAIN

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df
clean_hotel_df.drop(clean_hotel_df[clean_hotel_df['Hotel Name'] == ''].index, inplace = True)
#clean_hotel_df.count()

clean_hotel_df.head(50)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.63,overcast clouds,-23.12,-134.97,People ThankYou
13,Vaini,TO,78.96,scattered clouds,-21.20,-175.20,Keleti Beach Resort
15,Annamalainagar,IN,84.70,few clouds,11.40,79.73,Hotel Akshaya
32,Busselton,AU,84.09,broken clouds,-33.65,115.33,Observatory Guest House
34,Tambun,ID,88.41,scattered clouds,-6.26,107.07,Metland Hotel Bekasi
35,Grand Gaube,MU,85.37,clear sky,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
37,Butaritari,KI,82.98,light rain,3.07,172.79,Isles Sunset Lodge
38,Faanui,PF,81.41,broken clouds,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
41,Carnarvon,AU,82.47,clear sky,-24.87,113.63,Hospitality Carnarvon
45,Avarua,CK,78.85,overcast clouds,-21.21,-159.78,Paradise Inn
51,Kalmunai,LK,83.89,scattered clouds,7.42,81.82,VS Villa
54,Olinda,BR,80.33,scattered clouds,-8.01,-34.86,Pousada Sitio Do Carmo
58,Atuona,PF,78.62,clear sky,-9.80,-139.03,Villa Enata
69,Lambarene,GA,75.22,overcast clouds,-0.70,10.24,Le Refuge
78,Bambous Virieux,MU,85.21,few clouds,-20.34,57.76,Casa Tia Villa
83,Puerto Escondido,MX,76.89,clear sky,15.85,-97.07,Aldea del Bazar Hotel and Spa
85,Carutapera,BR,75.79,overcast clouds,-1.20,-46.02,Lidera
89,Sinnamary,GF,76.51,overcast clouds,5.38,-52.95,ALETHEIA Appartement Sinnamary
90,Sambava,MG,84.65,overcast clouds,-14.27,50.17,Melrose
96,Hervey Bay,AU,79.03,few clouds,-25.30,152.85,Shelly Bay Resort
102,Hithadhoo,MV,80.47,light rain,-0.60,73.08,Scoop Guest House
107,Catio,GW,76.21,overcast clouds,11.28,-15.25,Pausada Morabedja
111,Umarkot,PK,82.76,clear sky,25.36,69.74,Student Campus 2
115,Axim,GH,81.91,broken clouds,4.87,-2.24,Axim Beach Resort And Spa
128,Saint-Joseph,RE,85.10,few clouds,-21.37,55.62,"""Plantation Bed and Breakfast"
129,Soyo,AO,80.04,overcast clouds,-6.13,12.37,Hotel Mpampa
132,Odweyne,SO,77.86,clear sky,9.41,45.06,Eng Hiirey House
135,Souillac,MU,85.35,few clouds,-20.52,57.52,Bils' Villa
138,Buala,SB,80.87,light rain,-8.14,159.59,Maringe Lagoon Lodge
141,Bac Lieu,VN,82.00,broken clouds,9.28,105.72,Khách sạn Sài Gòn Bạc Liêu
145,Itarema,BR,78.66,overcast clouds,-2.92,-39.92,"Sea Lounge! Bar, Club & Restaurant"
146,Bathsheba,BB,79.41,scattered clouds,13.22,-59.52,Atlantis Hotel
160,Bengkulu,ID,77.74,light rain,-3.80,102.27,Grage Hotel Bengkulu
173,Daru,PG,83.39,overcast clouds,-9.08,143.21,Daru Lodge
185,Pozo Colorado,PY,76.91,broken clouds,-23.49,-58.80,Hospedaje la Amistad
186,Jiwani,PK,77.05,clear sky,25.05,61.74,Al Mumtaz Transport Jiwani
203,Bubaque,GW,80.04,broken clouds,11.28,-15.83,"Casa Dora, Bubaque"
205,Salalah,OM,84.29,clear sky,17.02,54.09,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
206,Neiafu,TO,80.02,light rain,-18.65,-173.98,Mystic Sands Beachfront Accommodation
207,Vangaindrano,MG,87.84,clear sky,-23.35,47.60,Hotel Fanilo
212,Alofi,NU,78.69,light rain,-19.06,-169.92,Taloa Heights
213,Omboue,GA,82.80,light rain,-1.57,9.26,Hotel Olako
215,Labuhan,ID,84.90,moderate rain,-6.88,112.21,Labuhan
219,Banda Aceh,ID,84.34,light rain,5.56,95.32,Sulthan Hotel International
226,Kilindoni,TZ,79.83,light rain,-7.91,39.67,Bustani B&B
227,Oistins,BB,78.89,scattered clouds,13.07,-59.53,Butterfly Beach Hotel
230,Cockburn Town,TC,79.79,few clouds,21.46,-71.14,Osprey Beach Hotel
232,Dingle,PH,78.48,broken clouds,11.00,122.67,SEGAYA PROPERTY
243,Tautira,PF,78.01,broken clouds,-17.73,-149.15,Pension Oaoa
245,Veraval,IN,81.41,clear sky,20.90,70.37,Lords Inn Somnath

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))